*.DS_Store
# Dependency directories
node_modules/
jspm_packages/

# Serverless directories
.idea/
.vscode/
.env
.webpack/
api/vendor/
.nyc_output/
secret-env-plain


# Env Config
.env

# Error And Logs
yarn.lock
yarn-error.log
